{% extends "index_base.html" %}
{% block head %}
    {{ super() }}
    <link href={{ url_for('main.static',filename='styles/about_me.css') }} rel="stylesheet">
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About me</h1>

            <p>My name is Chaoyue Wang, and I am pursuing Master of Science in computer engineering at New York University.
                I will graduate in May, 2018. I am proficient in C/C++ and Python,
                and has a wide range of projects experience including Deep Learning,
                Computer Vision and Full Stack development.
                I worked as a research assistant both in Lehigh University and New York University before.</p>

            <p>I am a zealot of new technologies, including hardware, software, etc (probably everything).
                I always like to dig the funniest gadget on the Internet and do it by myself.
                Also, I love to implement my own weird idea to make something.</p>

            <p>I do some software development for now, including web development (like this personal website),
                computer vision algorithm, deep learning research, autopilot system, robot programming and many other.
                And I am finding a Software Development Engineer job now.</p>

            <p>Before I study more software than hardware,
                I was a student which was major in electrical &amp; mechanical engineering,
                so I am also experienced in many hardware things, like circuit board design,
                embedded software and hardware, signal processing,
                CAD, fast prototyping (e.g. 3D printing), etc.&nbsp;</p>

            <p>As for my hobby, photographing and RC model are my favorite.
                Currently, I have a Canon 60D with EF 50mm F1.8 and Sigma 17-70mm F2.8-4.
                I am developing a gallery to share my photos on this website, but still in progress.&nbsp;</p>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div class="center-div">
                <img src={{ url_for('main.static', filename='img/headshot.png') }} class="img-circle img-thumbnail"
                alt="Headshot" width="250" height="250">
                <div class="center-div">
                    <a href="https://www.github.com/wcy940418">
                        <img src={{ url_for('main.static', filename='img/GitHub-64px.png') }} alt="GitHub" width="32" height="32">
                    </a>
                    <a href="https://www.linkedin.com/in/troywang" class="center">
                        <img src={{ url_for('main.static', filename='img/Linkedin-64px.png') }} alt="Linkedin" width="32" height="32">
                    </a>
                </div>
                <div class="center-div">
                    <a href="{{ url_for('main.static', filename='other/chaoyue_resume.pdf') }}">Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}