{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <link href={{ url_for('static',filename='styles/editor.css') }} rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <label for="post-title">Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Title">
                <label for="post-overview">Overview</label>
                <textarea id="post-overview" class="form-control" rows="4"></textarea>
                <label for="maineditor">Main body</label>
                <textarea id="maineditor" row="10" cols="80"></textarea>
                <div class="pull-right control-btn">
                    <button class="btn btn-default">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div id="cat-tag-manager" class="sidebar-module">
                    <h4>Category</h4>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-target="cat-menu"
                            aria-haspopup="true" aria-expanded="false">

                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        CKEDITOR.replace('maineditor');
    </script>
{% endblock %}