{% extends "index_base.html" %}
{% block main_content %}
<div class="container">
    <div style="max-width: 400px;padding: 15px;margin: 0 auto;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success fade in">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
    var timer = setTimeout(function() {
        window.location = '{{ url_for('index', _external=True) }}';
    }, 3000)
    </script>
{% endblock %}