body {
    color: #555;
    padding-top: 70px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

label {
    margin-top: 10px;
}

.control-btn {
    padding-top: 10px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}