body {
  color: #555;
    padding-top: 200px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.center-div {
    padding-top: 20px;
    text-align: center;
}

.selfie-bar {
    width: 250px;
}
