body {
    color: #555;
    padding-top: 70px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.manager {
    padding-top: 10px;
}

label {
    margin-top: 10px;
}

.control-btn {
    padding-top: 10px;
}

.status-bar-message {
    color: #777;
}